
{% macro dict_table(data) %}
  <table style="margin: -1px;">
    <tbody>
      {% for key, value in data.items() %}
      {% if value != None %}
        <tr>
          <td>{{ key }}</td>
          <td>
            {% if value is mapping %}
              {{ dict_table(value, table_class, indent_level + 1) }}
            {% else %}
              {{ value }}
            {% endif %}
          </td>
        </tr>
      {% endif %}
      {% endfor %}
    </tbody>
  </table>
{% endmacro %}

{% set type_descriptions = {
    'enable': 'Enable User',
    'join': 'Join Group',
    'name': 'Name Conflict',
} %}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>AD Permission Sync</title>
    <style>
        body {
            font-family: monospace;
        }
        table, tr {
          width: 100%;
          border-collapse: collapse;
        }
        td {
          border-collapse: collapse;
          border: 1px solid black;
        }
        .action-table {
            margin-bottom: 20px;
        }
        td {
            padding: 6px;
        }
        .enable-password-input {
            width: 300px;
        }
        .error {
            color: red;
        }
    </style>
</head>
<body>
    <table class="action-table">
        {% for action in actions %}
            {% set idx = loop.index0 %}
            <form id="form" method="post">
                <tbody>
                    <tr style="font-weight: bold;">
                        <td colspan="2">
                            {{ type_descriptions[action.type] }}
                            <input type="hidden" name="{{idx}}.type" value="{{action.type}}">
                        </td>
                    </tr>
                    <tr>
                        <td>User</td>
                        <td>
                            {{ action.user }}
                            <input type="hidden" name="{{idx}}.user" value="{{action.user}}">
                        </td>
                    </tr>
                    {% if action.type == 'join' %}
                        <tr>
                            <td>Group</td>
                            <td>
                                {{ action.group }}
                                <input type="hidden" name="{{idx}}.group" value="{{action.group}}" />
                            </td>
                        </tr>
                    {% elif action.type == 'name' %}
                        <tr>
                            <td>User Attributes</td>
                            <td style="padding: 0;">{{dict_table(action.attributes)}}</td>

                        </tr>
                        <tr>
                            <td>Conflict User</td>
                            <td>{{action.conflict_user}}</td>
                        </tr>
                        <tr>
                            <td>Conflict Account Name</td>
                            <td>
                                {{ action.name }}
                                <input
                                    type="hidden"
                                    id="{{idx}}.name"
                                    name="{{idx}}.name"
                                    value="{{action.name}}"
                                />
                            </td>
                        </tr>
                    {% endif %}
                    {% if action.error %}
                        <tr>
                            <td>Previous Error</td>
                            <td class="error">{{ action.error }}</td>
                        </tr>
                    {% endif %}

                    <tr>
                        <td>Action</td>
                        <td>
                            {% if action.type == 'enable' %}
                                <label for="{{idx}}.password">Password</label>
                                <input
                                    class="enable-password-input"
                                    type="password"
                                    id="{{idx}}.password"
                                    name="{{idx}}.password"
                                />
                                <button
                                    class="show-password-button"
                                    id="{{idx}}.show"
                                    type="button"
                                >👁</button>
                                <button
                                    class="generate-password-button"
                                    id="{{idx}}.generate"
                                    type="button"
                                >🗘</button>
                            {% elif action.type == 'name' %}
                                <label for="{{idx}}.new_name">New Name</label>
                                <input
                                    class="name-new_name-input"
                                    type="text"
                                    id="{{idx}}.new_name"
                                    name="{{idx}}.new_name"
                                    value="{{action.input_name}}"
                                />
                            {% endif %}
                            <div style="margin-top: 8px;">
                                <button
                                    id="{{idx}}-accept-button"
                                    type="submit"
                                    name="{{idx}}.accept"
                                    value="true"
                                >Accept</button>
                                <button
                                    id="{{idx}}-reject-button"
                                    type="submit"
                                    name="{{idx}}.accept"
                                    value="false"
                                >Reject</button>
                            </div>
                        </td>
                    </tr>

                </tbody>
            </form>
            <tr>
                <td style="border: none;"> </td>
            </tr>
        {% endfor %}
        </table>

    <script src="static/wordlist-5-dice-eff.js"></script>
    <script>
        const passwordWordCount = 5

        function isPasswordValid(password) {
            return password.length > 0
        }

        function generatePassword() {
            let password = ''
            for (let i = 0; i < passwordWordCount; i++) {
                const word = wordlist[Math.floor(Math.random() * wordlist.length)]
                password += word.charAt(0).toUpperCase() + word.substring(1)
            }
            return password
        }

        function getIdx(element) {
            return element.id.split('.')[0]
        }

        for (const input of document.getElementsByClassName('enable-password-input')) {
            const submitButton = document.getElementById(getIdx(input) + '-accept-button')
            input.value = generatePassword()
            submitButton.disabled = !isPasswordValid(input.value)
            input.addEventListener('input', () => {
                submitButton.disabled = !isPasswordValid(input.value)
            })
        }

        for (const input of document.getElementsByClassName('generate-password-button')) {
            const passwordInput = document.getElementById(getIdx(input) + '.password')
            input.addEventListener('click', () => {
                passwordInput.value = generatePassword()
            })
        }

        for (const input of document.getElementsByClassName('show-password-button')) {
            const passwordInput = document.getElementById(getIdx(input) + '.password')
            input.addEventListener('click', () => {
                if (passwordInput.type === 'password') {
                    passwordInput.type = 'text'
                } else {
                    passwordInput.type = 'password'
                }
            })
        }

        for (const input of document.getElementsByClassName('name-new_name-input')) {
            const idx = getIdx(input)
            const submitButton = document.getElementById(idx + '-accept-button')
            const conflictName = document.getElementById(idx + '.name').value
            submitButton.disabled = true
            input.addEventListener('input', () => {
                submitButton.disabled = input.value.length === 0 || input.value === conflictName
            })
        }

    </script>
</body>
</html>
